/* CSS Document */

/* OVERALL*/
*{
	
	margin:0px;
}
/* CONTAINER*/
#container{
	width:100%;
}
/* HEADER*/
#header{
	background-color:#FFA500;
}
h1{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:600;
	text-align:center;
	height:60px;
	width:100%;
	background:#425690;
	line-height:60px;
	color:white;
	margin-bottom:0;
}
.update p{
	top:40px;
	left:0px;
	position:absolute;
	color:#FFFFFF;
	}
/* NAVBAR*/
.Nav{ width:250px;
	height:590px;
	background:#c6dcf0;
	float:left;
	border-right:5px solid #eeee00;
}
.Nav ul li{ 
			border-bottom:2px solid #666666;
			position:relative; 
			list-style-type:none;
			padding:20px;
			height: 30px;
}


.Nav ul li a{ 
	text-decoration:none;
	color:#090909;
	width:250px;
	padding:50px;
	padding-right:100px
}

.Nav ul li a:hover{ 
	color:#FFFFFF;
}
.Nav ul li:hover  {
	background:#999999;
	transition:linear all 0.40s;
	display:block
}
.Nav ul li:hover ul {
	transition:linear all 0.40s;
	 display:block
	 
}
.Nav ul li ul {
				position:relative;
				left: 195px;
				top: -42px;
				width: 200px;
				border: 2px solid #ccc;
				border-bottom: none; 
				display:none;
				background:#c6dcf0; 
				padding:-20px;
				z-index:999;
				border-right:2px solid #FFFF00;
}
/* Content */		
.Content p{
	position:absolute;
	left:300px;
	top:80px;
	color:#000000;
	font-size:18px;
}


/* table */
.table {
	position:absolute;
	left:500px;
	top:100px;
}

.table h4{
position:absolute;
	left:20px;
	top:-20px;
}

/* Footer */
.Footer h4{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:600;
	text-align:left;
	height:80px;
	width:100%;
	background:#82848a;
	line-height:60px;
	color:white;	
	position:absolute;
	top:650px;
	left:0px;
	
}


.Footer p{

	top:700px;
	left:20px;
	position:absolute;
	color:#FFFFFF;
}
/* Logo */

.logo {
	
	top:500px;
	left:20px;
	position:absolute;
	
}
